*{
    box-sizing: border-box;
    font-family: sans-serif;
}
.vinto{
    color: green;
}
.perso{
    color: rgb(194, 0, 0);

}
.pareggio{
    color: rgb(228, 127, 12);

}
#risultato{
    text-align: center;
    font-size: 3em;
}